<div class="container mt-3" >
 <div class="jumbotron bg-light">
  <h1 class="display-4"><%= @event.title %> à <%= @event.location %></h1>
  <p class="lead"><%= @event.description %></p>
  <hr class="my-4">
  <p>Le <%= @event.start_date %>, pendant <%= @event.duration %> minutes, et pour la modique somme de <%= @event.price %>€, vous aurez la joie de participer à ce pure event. </p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="#" role="button">Participer</a>
  </p>
</div>
</div>